:root {
  --textColor: #FFFFFF;
  --hamburguesa: #F83939;
  --hotDog: #fda50f;
  --header-footer: #423F3F;
}

* {
  font-family: 'Oswald', sans-serif;
}

#modal-content-h{
  background-color: var(--hamburguesa); 
  color: #FFFFFF;
}


#modal-content-p{
  background-color: var(--hotDog);
  color: #FFFFFF;
}



.modal-body-image {
  background-color: #FFFFFF;
  margin: 30px;
  padding: 50px;
  border-radius: 4%;
}

.modal-body img {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

#button-image img{
  height: 30px;
}